<footer class="footer">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <h5>About Us</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          facilisi.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <h5>Contact Us</h5>
        <address>
          <strong>Email:</strong>
          <a href="mailto:contact@example.com">contact@example.com</a><br />
          <strong>Phone:</strong> +1 (123) 456-7890<br />
        </address>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#"><i class="bi bi-facebook"></i> Facebook</a>
          </li>
          <li>
            <a href="#"><i class="bi bi-twitter"></i> Twitter</a>
          </li>
          <li>
            <a href="#"><i class="bi bi-instagram"></i> Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
