<!-- FILEPATH: /home/leom/Documents/UTFPR/2 Semestre 2023/DESENVOLVIMENTO DE APLICAÇÕES FRONTEND WEB COM FRAMEWORKS E COMPONENTES/Projeto/lista-items-compras/src/app/servers/servers.component.html -->

<div class="card">
  <img src="recipe-image.jpg" class="card-img-top" alt="Recipe Image" />
  <div class="card-body">
    <h5 class="card-title">Recipe Name</h5>
    <p class="card-text">Recipe Description</p>
    <h6>Ingredients:</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ingredient 1</li>
      <li class="list-group-item">Ingredient 2</li>
      <li class="list-group-item">Ingredient 3</li>
      <li class="list-group-item">Ingredient 4</li>
      <li class="list-group-item">Ingredient 5</li>
    </ul>
  </div>
</div>
